<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Digit Software Solutions.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category  Dss
 * @package   Dss_Opinion
 * @author    Extension Team
 * @copyright Copyright (c) 2025 Digit Software Solutions. ( https://digitsoftsol.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="opinion" translate="label" sortOrder="10"
            showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Opinions</label>
            <tab>dss</tab>
            <resource>Dss_Opinion::opinion_config</resource>

            <!-- General Settings -->
            <group id="general" translate="label" sortOrder="10"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enable_product_opinion" translate="label" type="select"
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Opinion</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="get_opinion" translate="label" type="select"
                    sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Customers to Submit Opinions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- Opinion Label Settings -->
            <group id="opinion_label" translate="label" sortOrder="15"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Opinion Label</label>

                <field id="show_opinion_label" translate="label" type="select"
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Opinion Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- Opinion Label Messages -->
                <group id="opinion_label_message" translate="label" sortOrder="10"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Opinion Label Messages</label>
                    <depends>
                        <field id="show_opinion_label">1</field>
                    </depends>

                    <field id="min_threshold" translate="label comment" type="text" sortOrder="5"
                        showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Threshold</label>
                        <comment><![CDATA[
                            The minimum number of opinions required before showing percentage-based data.
                            <br />
                            Example: If set to 5,
                            percentage labels will be displayed only when at least 5 opinions exist.]]>
                        </comment>
                        <validate>validate-zero-or-greater</validate>
                    </field>

                    <!-- Logged-in Customers Messages -->
                    <group id="label_message_customer" translate="label" sortOrder="10"
                        showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Messages for Logged-in Customers</label>

                        <field id="no_opinion_customer" translate="label comment" type="text" sortOrder="10"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>No Opinions Message</label>
                            <comment><![CDATA[
                                Message shown when no opinions are available.
                                <br />
                                Example: "Be the first to share your opinion!"]]>
                            </comment>
                        </field>

                        <!-- Customer-Specific Messages For One Opinion -->
                        <group id="one_opinion_customer" translate="label" sortOrder="11"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>One Opinion Message (Customer-Specific)</label>

                            <field id="one_opinion_liked" translate="label comment" type="text" sortOrder="10"
                                showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>One Opinion Message (Liked)</label>
                                <comment><![CDATA[
                                    Message when only one opinion exists, and it's liked.
                                    <br />
                                    Example: "This product got your like!"]]>
                                </comment>
                            </field>

                            <field id="one_opinion_disliked" translate="label comment" type="text" sortOrder="15"
                                showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>One Opinion Message (Disliked)</label>
                                <comment><![CDATA[
                                    Message when only one opinion exists, and it's disliked.
                                    <br />
                                    Example: "Not your favorite."]]>
                                </comment>
                            </field>
                        </group>

                        <!-- Customer-Specific Messages For Only Liked/Disliked Opinion But Below Threshold -->
                        <group id="only_opinion" translate="label" sortOrder="12"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Only Liked/Disliked Below Threshold (Customer-Specific)</label>

                            <field id="below_threshold_like" translate="label comment" type="text" sortOrder="10"
                                showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Only Like Opinion Below Threshold</label>
                                <comment><![CDATA[
                                    Message when all opinions are like but below the threshold.
                                    <br />
                                    Example: "You liked this—waiting for more opinions!"
                                ]]></comment>
                            </field>
                            <field id="below_threshold_dislike" translate="label comment" type="text" sortOrder="11"
                                showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Only Dislike Opinion Below Threshold</label>
                                <comment><![CDATA[
                                    Message when all opinions are dislike but below the threshold.
                                    <br />
                                    Example: "Not your pick! Others haven’t shared yet."
                                ]]></comment>
                            </field>
                        </group>

                        <!-- Customer-Specific Messages For Mixed Opinion But Below Threshold -->
                        <group id="mixed_opinion" translate="label" sortOrder="13"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Mixed Below Threshold (Customer-Specific)</label>

                            <field id="mixed_below_threshold_like" translate="label comment" type="text" sortOrder="10"
                                showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Mixed Opinion Below Threshold (Like)</label>
                                <comment><![CDATA[
                                    Message when mixed opinions exist but below the threshold, but customer liked it.
                                    <br />
                                    Example: "This product got your like!, but opinions are mixed."
                                ]]></comment>
                            </field>
                            <field id="mixed_below_threshold_dislike" translate="label comment" type="text" sortOrder="11"
                                showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Mixed Opinion Below Threshold (Dislike)</label>
                                <comment><![CDATA[
                                    Message when mixed opinions exist but below the threshold, but customer disliked it.
                                    <br />
                                    Example: "Not your favorite, but opinions are mixed."
                                ]]></comment>
                            </field>
                        </group>

                        <field id="above_threshold_customer" translate="label comment" type="text" sortOrder="25"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Opinions Above Threshold</label>
                            <comment><![CDATA[
                                Message when enough opinions exist to show percentages.
                                <br />
                                Example: "You and %1% of our %2 customers liked this product."
                            ]]></comment>
                        </field>
                    </group>

                    <!-- Guest-Specific Messages -->
                    <group id="label_message_guest" translate="label" sortOrder="15"
                        showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Messages for Guests</label>

                        <field id="no_opinion_guest" translate="label comment" type="text" sortOrder="10"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>No Opinions Message</label>
                            <comment><![CDATA[
                                Message shown when no opinions are available.
                                <br />
                                Example: "Be the first to share your opinion!"
                            ]]></comment>
                        </field>

                        <field id="one_opinion_guest" translate="label comment" type="text" sortOrder="15"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>One Opinion Message</label>
                            <comment><![CDATA[
                                Message when only one opinion exists.
                                <br />
                                Example: "One opinion in! Share yours!"
                            ]]></comment>
                        </field>

                        <field id="below_threshold_like_guest" translate="label comment" type="text" sortOrder="20"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Liked Below Threshold</label>
                            <comment><![CDATA[
                                Message when all opinions are positive but below the threshold.
                                <br />
                                Example: "Liked by some of our customers."
                            ]]></comment>
                        </field>

                        <field id="above_threshold_guest" translate="label comment" type="text" sortOrder="25"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Opinions Above Threshold</label>
                            <comment><![CDATA[
                                Message when enough opinions exist to show percentages.
                                <br />
                                Example: "%1% of our %2 customers liked this product."
                            ]]></comment>
                        </field>
                    </group>

                </group>
            </group>
        </section>
    </system>
</config>