<?xml version="1.0"?>
<!--
/**
 * Digit Software Solutions.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category  Dss
 * @package   Dss_Opinion
 * @author    Extension Team
 * @copyright Copyright (c) 2025 Digit Software Solutions. ( https://digitsoftsol.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <opinion>
            <!-- General Config -->
            <general>
                <enable_product_opinion>1</enable_product_opinion>
                <get_opinion>1</get_opinion>
                <disabled_message>
                    <![CDATA[We are not accepting product opinions at the moment, Please check back later.]]>
                </disabled_message>
                <not_allow_message>
                    <![CDATA[You are not allowed to give an opinion, please contact us for more information.]]>
                </not_allow_message>
            </general>

            <!-- Opinion Label Config -->
            <opinion_label>
                <show_opinion_label>1</show_opinion_label>
                <min_threshold>5</min_threshold>
                <min_like>70</min_like>
            </opinion_label>

            <!-- My Opinion Page Config -->
            <opinion_page>
                <show_opinion_stats_chart>1</show_opinion_stats_chart>
                <show_opinion_chart>1</show_opinion_chart>
                <show_current_opinion_chart>1</show_current_opinion_chart>
                <show_chart_total>1</show_chart_total>
                <show_chart_percentage>1</show_chart_percentage>
            </opinion_page>
        </opinion>
    </default>
</config>