<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Digit Software Solutions.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category  Dss
 * @package   Dss_Opinion
 * @author    Extension Team
 * @copyright Copyright (c) 2025 Digit Software Solutions. ( https://digitsoftsol.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="opinion" translate="label" sortOrder="10"
            showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Opinions</label>
            <tab>dss</tab>
            <resource>Dss_Opinion::opinion_config</resource>

            <!-- General Settings -->
            <group id="general" translate="label" sortOrder="10"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enable_product_opinion" translate="label" type="select"
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Opinion</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="get_opinion" translate="label" type="select"
                    sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Customers to Submit Opinions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_product_opinion">1</field>
                    </depends>
                </field>

                <field id="disabled_message" translate="label" type="textarea"
                    sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disabled Opinion Message</label>
                    <comment><![CDATA[
                        This message will be displayed when all customers are not allowed to submit opinions.
                        <br />
                        Example: "We are not accepting product opinions at the moment, Please check back later."
                        <br />
                        If you don't want to show any message, leave this field empty.]]>
                    </comment>
                    <depends>
                        <field id="enable_product_opinion">1</field>
                        <field id="get_opinion">0</field>
                    </depends>
                </field>

                <field id="not_allow_message" translate="label" type="textarea"
                    sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disallowed Customers Message</label>
                    <comment><![CDATA[
                        You can disallow a customer by the "Can Give Opinion?" to "No" in the customer edit page under
                        Customers > All Customers > [Edit Customer] > Account Information.
                        <br />
                        This message will be displayed when specific customers are not allowed to submit opinions.
                        <br />
                        Example: "You are not allowed to give an opinion, please contact us for more information."
                        <br />
                        If you don't want to show any message, leave this field empty.]]>
                    </comment>
                    <depends>
                        <field id="enable_product_opinion">1</field>
                    </depends>
                </field>
            </group>

            <!-- Opinion Label Settings -->
            <group id="opinion_label" translate="label" sortOrder="15"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Opinion Label</label>

                <field id="show_opinion_label" translate="label" type="select"
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Opinion Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="min_threshold" translate="label comment" type="text" sortOrder="15"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Threshold</label>
                    <comment><![CDATA[
                        The minimum number of opinions required for a product before displaying percentage-based data.
                        <br />
                        Example: If set to 5,
                        Percentage labels will only be displayed when at least 5 opinions exist in the product.]]>
                    </comment>
                    <validate>validate-zero-or-greater required-entry</validate>
                    <depends>
                        <field id="show_opinion_label">1</field>
                    </depends>
                </field>

                <field id="min_like" translate="label comment" type="text" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Like Percentage</label>
                    <comment><![CDATA[
                        The minimum percentage of Liked opinions required for a product before
                        displaying percentage-based data.
                        <br />
                        Example: If set to 70,
                        percentage labels will be displayed only when at least 70% liked opinions exist.]]>
                    </comment>
                    <validate>validate-zero-or-greater required-entry</validate>
                    <depends>
                        <field id="show_opinion_label">1</field>
                    </depends>
                </field>
            </group>

            <!-- My Opinion Page Settings -->
            <group id="opinion_page" translate="label" sortOrder="20"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>My Opinion Page</label>

                <field id="show_opinion_stats_chart" translate="label" type="select"
                    sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Opinion Stats Chart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        Enable this option to display opinion statistics charts on the My Opinion page.
                        <br />
                        Example: Setting this to "Yes" will show opinion charts such as likes and dislikes.]]>
                    </comment>
                </field>

                <field id="show_opinion_chart" translate="label" type="select"
                    sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Total Product Opinion Chart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        Enable this option to display a chart representing total product opinions on the
                        My Opinion page.
                        <br />
                        Example: If enabled, a total opinions chart will be shown.]]>
                    </comment>
                    <depends>
                        <field id="show_opinion_stats_chart">1</field>
                    </depends>
                </field>

                <field id="total_chart_colors" translate="label" type="text"
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Total Product Opinion Chart Colors</label>
                    <frontend_model>Dss\Opinion\Block\Adminhtml\DualColorPicker</frontend_model>
                    <validate>validate-color</validate>
                    <comment><![CDATA[
                        Choose a total data chart's color using the color picker.
                        <br />
                        Leave the colors empty to use the default colors.
                        <br />
                        <strong>Don't use '#' at the beginning of the color code.</strong>]]>
                    </comment>
                    <depends>
                        <field id="show_opinion_chart">1</field>
                    </depends>
                </field>

                <field id="show_current_opinion_chart" translate="label" type="select"
                    sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Current Page Product Opinion Chart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        Enable this option to display opinion charts based on the products shown on the current
                        My Opinion page.
                        <br />
                        Example: If enabled, a chart showing likes and dislikes for the currently showing products
                        will be displayed.]]>
                    </comment>
                    <depends>
                        <field id="show_opinion_stats_chart">1</field>
                    </depends>
                </field>

                <field id="current_chart_colors" translate="label" type="text"
                    sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Page Product Opinion Chart Colors</label>
                    <frontend_model>Dss\Opinion\Block\Adminhtml\DualColorPicker</frontend_model>
                    <validate>validate-color</validate>
                    <comment><![CDATA[
                        Choose a current page data chart's color using the color picker.
                        <br />
                        Leave the colors empty to use the default colors.
                        <br />
                        <strong>Don't use '#' at the beginning of the color code.</strong>]]>
                    </comment>
                    <depends>
                        <field id="show_current_opinion_chart">1</field>
                    </depends>
                </field>

                <field id="show_chart_total" translate="label" type="select"
                    sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Total Product Opinion Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        Enable this option to display the number of product opinions on the My Opinion page.
                        <br />
                        Example: If enabled, the opinion count will be visible below the both chart.]]>
                    </comment>
                    <depends>
                        <field id="show_opinion_stats_chart">1</field>
                    </depends>
                </field>

                <field id="show_chart_percentage" translate="label" type="select"
                    sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Opinion Percentage</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        Enable this option to display the like percentage for products on the My Opinion page.
                        <br />
                        Example: If enabled, the percentage of likes relative to total opinions will be shown.]]>
                    </comment>
                    <depends>
                        <field id="show_opinion_stats_chart">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>